<div class="page">
  <mat-card class="form-card mat-elevation-z8">
    <h1 class="title">Add Ship</h1>

    <form (ngSubmit)="onSubmit()" class="form-grid">
    
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ImoNumber</mat-label>
        <input matInput [(ngModel)]="imoNumber" name="imoNumber" required />
      </mat-form-field>


     
      <mat-form-field appearance="outline">
        <mat-label>Max Speed (knots)</mat-label>
        <input matInput type="number" [(ngModel)]="maxSpeed" name="maxSpeed" required />
      </mat-form-field>

    

      <div class="buttons">
        <button mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Save
        </button>
        <button mat-button routerLink="/ships">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
